:root{
    --text-color: #1a1c20;
    --link-color: #3498db;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f4f4f4;
    max-width: 1400px;
    margin: 0 auto;
    color: var(--text-color);
}
a{
    color: var(--link-color);
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
div.left img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

div.right a:hover {
    color: var(--link-color);
}

.hero {
    display: flex;
    justify-content: space-between;
}
.hero .hero-img {
    flex: 3;
    display: flex;
}
.hero .hero-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}